<nav class="sidebar sidebar-expand-md sidebar-light bg-white">
            <nav id="sidebar">
            <div class="sidebar-header">
                <figure>
                    <a></a>
                </figure>
             </div>
             
                <ul id="nav-tools">
                    <li class="tool-language-select">
                        <a href="index.html" class="active" title="Deutsche Sprache"><span class="hidden-xs">Deutsch</span></a><a href="index.html" title="English language"><span class="hidden-xs">English</span></a>
                    </li>
                </ul> 
            </nav>
</nav>