<nav class="sidebar sidebar-expand-md sidebar-light bg-white">
            <nav id="sidebar">
            <div class="sidebar-header">
                <h1 id="bauhaus-dessau-logo" role="banner">
                    <a href="https://www.bauhaus-dessau.de/de/index.html" rel="home" title="Home | Bauhaus Dessau">
                        <span>Bauhaus</span> Dessau
                    </a>
                </h1>
             </div>
                <ul id="nav-tools">
                    <li class="tool-language-select">
                        <a href="index.html" class="active" title="Deutsche Sprache"><span class="hidden-xs">Deutsch</span><span class="hidden visible-xs-inline">DE</span></a><a href="index.html" title="English language"><span class="hidden-xs">English</span><span class="hidden visible-xs-inline">EN</span></a>
                    </li>
                </ul>
</nav>