/* add your scss tweaks here */

body {
    font-family: Arial,sans-serif !important;
}

.container-left {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  max-width: 1200px;
}

figure {
  .img-fluid {
    display: block;
    width: 100%;
    max-width: auto;
  }
}

.navbar-nav {
    .nav-item {
        > .nav-link {
            color: $text-color;
            &:hover {
                color: $link-color;
            }
        }
        &.active {
            > .nav-link {
                color: $link-color;
            }
        }
    }
}