<!doctype html>
<html lang="de" class="h-100">
    <head>
        {% include template/head.html %}
    </head>
    <body class="d-inline-flex flex-column h-100">
        <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
        {% include template/header.html %}
        <main id="maincontent" role="main" aria-label="Content" class="fbox-s span2 col-8">
        {{ content }}
        </main>
        {% include template/footer.html %}
        {% include template/foot.html %}
    </body>
</html>