---
layout: default
---
<div class="container-narrow">
    {% if page.img %}
    <figure class="figure figure-title w-100">
        <img src="{{ page.img | relative_url }}" alt="{% if page.alt %}{{ page.alt }}{% else %}{{ page.title }}{% endif %}" class="figure-img img-fluid">
        {% if page.caption %}<figcaption class="figure-caption">{{ page.caption }}</figcaption>{% endif %}
    </figure>
    {% endif %}
    {% if page.title %}<h3>{{ page.title }}</h3>{% endif %}
    {{ content }}
</div>
